body{
    background-color: rgba(209, 67, 67, .4);
}

#header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
#Add {
    margin: auto;
    border-color: black;
    border-radius: 6px;
    font-size: large;
}

#items{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}

